<fade-in class="opacity-0" _="on load transition my opacity to 1 over 0.2 seconds">
    <div class="w-full lg:w-[50rem] mx-auto">

    {% if comments %}
        {% for comment in comments %}
        <div class="flex gap-2">
            <a href="{% url 'blog:post' comment.parent_post.id %}">{{ comment.parent_post.title }} </a>
            {% include 'blog/comment.html' %}
        </div>
        {% endfor %}
    {% else %}
        <div class="w-full text-center mt-10">No comments just yet</div>
    {% endif %}

    </div>
</fade-in>