{% load static %}
<div class="card p-4 !mb-4">
    <div class="flex justify-between items-center"> 
        {% if comment.author %}
        <a class="flex items-center gap-1 mb-2" href="{% url 'profile:userprofile' comment.author.username  %}">
            <img class="w-8 h-8 object-cover rounded-full" src="{{ comment.author.profile.avatar }}"> 
            {% if comment.author.profile.name %}
            <span class="font-bold hover:underline">{{ comment.author.profile.name }}</span>
            {% else %}
            <span class="text-sm font-normal text-gray-400">@{{ comment.author.username }}</span>
            {% endif %}
        </a>
        <div class="flex justify-end">
            <span class="ml-10 text-sm font-normal text-gray-400">{{ comment.created|date:"d. m, Y" }}</span>
        </div>
        {% else %}
        <div class="flex items-center gap-1 mb-4">
            <img class="w-8 h-8 object-cover rounded-full" src="{% static 'img/avatar_default.png' %}">
            <span class="text-gray-500">no author</span>
        </div>
        <div class="flex justify-end">
            <span class="ml-10 text-sm font-normal text-gray-400">{{ comment.created|date:"d. m, Y" }}</span>
        </div>
        {% endif %}
    </div>
    <p class="text-xl px-2">
        {{ comment.body }}
    </p>
    <div x-data="{ repliesOpen: false }" class="flex items-center justify-between flex-wrap text-sm px-2">
        <a @click="repliesOpen = !repliesOpen" class="font-bold hover:underline cursor-pointer">
            {% if comment.replies.count or user.is_authenticated %}
            <div class="inline-block" x-bind:class="repliesOpen && 'rotate-90 duration-300'">
                <svg transform ="rotate(90)" width="9" height="9" viewBox="0 0 25 25">
                    <path d="M24 22h-24l12-20z"/>
                </svg>
            </div>
            {% endif %}
            {% if comment.replies.count %}
            Replies
            <span id="repliescount-{{ comment.id }}" class="font-light text-gray-500 ml-1">{{ comment.replies.count }}</span>
            {% else %}
                {% if user.is_authenticated %}
                Add Reply
                {% endif %}
            {% endif %}
        </a>
        <div class="flex items-center gap-4 [&>a:hover]:underline">
            {% include 'snippets/likes_comment.html' %}
            {% if user.is_authenticated and comment.author == user %}
            <a href="{% url 'blog:comment-delete' comment.id %}">Delete</a>
            {% endif %}
        </div>

        <div x-show="repliesOpen" x-cloak class="basis-full mt-3 pl-8 grid grid-cols-1">

            {% for reply in comment.replies.all %}
            {% include 'blog/reply.html' %}
            {% endfor %}

            {% if user.is_authenticated %}
            <form class="replyform flex justify-between" autocomplete="off"
            hx-post="{% url 'blog:reply-sent' comment.id %}"
            hx-target="this" 
            hx-swap="outerHTML" >
                {% csrf_token %}
                {{ replyform }}
                <button class="block" type="submit">Submit</button>
            </form>
            {% endif %}
        </div>
    </div> 
</div>