{% load static %}
<aside x-show="mobileSidebarOpen" x-cloak class="md:!block col-span-full md:col-span-1 order-1 md:order-2"
x-transition:enter="duration-300 ease-out"
x-transition:enter-start="opacity-0 -mt-96"
x-transition:enter-end="opacity-100 mt-0">
    
    <section class="card p-4">
        <h2 class="text-2xl text-black text-semibold pb-4">Search</h2>
        <form class="pb-5" action="." method="get">
            <div class="flex">
                <input type="text" name="blog_search" class="p-4 bg-gray-100 border-0 rounded-l-xl" placeholder="Search...">
                <button class="p-4 bg-primary hover:bg-indigo-500 border-0 rounded-r-xl text-black">
                    <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                    </svg> 
                </button>
            </div>
        </form>
    </section>
    <section class="card p-4">
        <h2 class="text-2xl text-black text-semibold pb-4">Categories</h2>
        <ul class="space-y-2 rounded-md">
            <li>
                <a href="{% url 'blog:home' %}?category={{ category.slug }}" class="flex items-center p-2 hover:bg-indigo-500 transition duration-150 rounded-xl {% if not active_category %}bg-primary{% endif %}">
                    <span class="text-black font-bold text-sm">All categories</span> 
                </a>
            </li>
            {% for category in categories %}
            <li>
                <a href="{% url 'blog:home' %}?category={{ category.slug }}" class="flex items-center p-2 hover:bg-indigo-500 transition duration-150 rounded-xl  {% if category.slug == active_category %}bg-primary{% endif %}">
                    <span class="text-black font-bold text-sm">{{ category.name }}</span>
                </a>
            </li>
            {% endfor %}
        </ul>
    </section>
        <section class="card p-4">
            <div class="flex items-center">
                <h2>Top Posts</h2>
            </div>
            <ul class="hoverlist">
                {% for post in top_posts %}
                <li>
                    <a href="{% url "blog:post" post.id %}" class="flex items-stretch justify-between">
                        <div class="flex items-center truncate">
                            <img class="w-10 h-10 rounded-lg object-cover mr-3 shrink-0" src="{{ post.image.url }}">
                            <span class="font-bold text-sm mr-1">{{ post.title }}</span>
                        </div>
                        <span class="{% if user in post.likes.all %}font-bold{% else %}font-light{% endif %} text-grey-500 shrink-0">{{ post.likes.count }} Like{{ post.likes.count|pluralize:'s' }}</span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </section>
        {% comment %} <section class="card p-4">
            <div class="flex items-center">
                <h2>Top Comments</h2>
            </div>
            <ul class="hoverlist">
                {% for comment in top_comments %}
                <li>
                    <a href="" class="flex items-stretch justify-between">
                        <div class="flex items-center truncate">
                            {% if comment.author %}
                            <img class="w-6 h-6 rounded-full object-cover mr-1" src={{ comment.author.profile.avatar }}>
                            <span class="font-bold text-sm mr-1 truncate">{{ comment.author.username }} : {{ comment.body|truncatechars:10 }}</span>
                            {% else %}
                            <img class="w-6 h-6 rounded-full object-cover mr-1" src={% static 'img/avatar_default.png'%}>
                            <span class="font-bold text-sm mr-1 truncate">no author : {{ comment.body|truncatechars:10 }}</span>                          
                            {% endif %}
                        </div>
                        <span class="text-sm font-light text-grey-500 shrink-0">{{ comment.likes.count }} Like{{ comment.likes.count|pluralize:'s' }}</span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </section> {% endcomment %}

</aside>