{% extends "base.html" %}
{% load static %}

{% block pagename %}
 | Shop
{% endblock pagename %}

{% block content %}

<!-- SUBNAV -->
<div class="text-sm breadcrumbs my-5">
    <ul class="place-content-center">
        <li>
            <a href="{% url 'home' %}">Home</a>
        </li> 
        <li>
            <a href="{% url 'shop:home' %}">E-Shop</a>
        </li> 
    </ul>
</div>
<div class="grid grid-cols-3 md:grid-cols-6">
    <div class="pl-4">
        {% include "shop/sidebar.html" %}
    </div>
    <div class="mx-auto place-items-center col-span-1 md:col-span-4 flex flex-col md:grid grid-cols-2 xl:grid-cols-3 gap-5">
        {% for product in products %}
        <div class="card max-w-80 md:max-w-96 glass">
            <figure>
                {% if product.image %}
                <img src="{{ product.image.url }}" alt="product-image"/>
                {% else %}
                <img src="{% static 'img/image_not_found.png' %}" alt="default-product-image"/>
                {% endif %}
            </figure>
            <div class="card-body">
            <div class="flex flex-row justify-between mr-4">
                <h2 class="card-title text-2xl">{{ product.name }}</h2>
                <h2 class="card-title text-sm">{{ product.category.name }}</h2>
            </div>
                <p>{{ product.price }},-</p>
                <div class="card-actions justify-end">
                <button class="btn btn-primary"
                    hx-post="{% url 'shop:add_to_cart' product.id %}" 
                    hx-target="#cart" 
                    hx-swap="innerHTML">
                   Add to Cart
                </button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div id="cart"  class="pr-8">
        {% include "shop/cart-partial.html" %}
    </div>
</div>

{% endblock content %}