{% load static %}

{% block links %}
<link href="{% static 'css/nouislider.min.css' %}" rel="stylesheet">
{% endblock %}

<aside  x-show="mobileSidebarOpen" x-cloak class="md:!block sticky top-[100px] mb-8"
            x-transition:enter="duration-300 ease-out"
            x-transition:enter-start="opacity-0 -mt-96"
            x-transition:enter-end="opacity-100 mt-0">
    <section class="card p-4">
        <h2 class="text-2xl text-black text-semibold pb-4">Search</h2>
        <form class="pb-5" action="." method="get">
            <div class="flex">
                <input type="text" name="shop_search" class="p-4 bg-gray-100 border-0 rounded-l-xl" placeholder= "Search..."
                value="{% if request.GET.shop_search %}{{ request.GET.shop_search }}{% endif %}">
                {% if request.GET.category %}
                    <input type="hidden" name="category" value="{{ request.GET.category }}">
                {% endif %}
                {% if request.GET.min_price %}
                    <input type="hidden" name="min_price" value="{{ request.GET.min_price }}">
                {% endif %}
                {% if request.GET.max_price %}
                    <input type="hidden" name="max_price" value="{{ request.GET.max_price }}">
                {% endif %}
                <button class="p-4 bg-primary hover:bg-indigo-500 border-0 rounded-r-xl text-black">
                    <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                    </svg> 
                </button>
            </div>
        </form>
    </section>
    <section class="card p-4">
        <h2 class="text-2xl text-black text-semibold pb-4">Categories</h2>
        <ul class="space-y-2 rounded-md">
            <li>
                <a href="{% url 'shop:home' %}?category={{ category.slug }}{% if request.GET.min_price %}&min_price={{ request.GET.min_price }}{% endif %}{% if request.GET.max_price %}&max_price={{ request.GET.max_price }}{% endif %}{% if request.GET.shop_search %}&shop_search={{ request.GET.shop_search }}{% endif %}" 
                class="flex items-center p-2 hover:bg-indigo-500 transition duration-150 rounded-xl
                {% if not active_category %}bg-primary{% endif %}">
                    <span class="text-black font-bold text-sm">All categories</span> 
                </a>
            </li>
            {% for category in categories %}
            <li>
                <a href="{% url 'shop:home' %}?category={{ category.slug }}{% if request.GET.min_price %}&min_price={{ request.GET.min_price }}{% endif %}{% if request.GET.max_price %}&max_price={{ request.GET.max_price }}{% endif %}{% if request.GET.shop_search %}&shop_search={{ request.GET.shop_search }}{% endif %}" 
                class="flex items-center p-2 hover:bg-indigo-500 transition duration-150 rounded-xl  
                {% if category.slug == active_category %}bg-primary{% endif %}">
                    <span class="text-black font-bold text-sm">{{ category.name }}</span>
                </a>
            </li>
            {% endfor %}
        </ul>
    </section>
    <section class="card p-4">
        <h2 class="text-2xl text-black text-semibold pb-4">Cena</h2>
            <div class="mb-4 relative">
                <form method="get" action="{% url 'shop:home' %}"> 
                    <div id="slider" class="mb-4 mr-4"></div>
                    <div class="flex justify-between">
                        <input type="number" id="minInput" min="0" max="{{ max_value }}" name="min_price" value="{{ min_price }}" class="w-24 p-2 border rounded bg-white text-black">
                        <input type="number" id="maxInput" min="0" max="{{ max_value }}" name="max_price" value="{{ max_price }}" class="w-24 p-2 border rounded bg-white text-black">
                    </div>
                    <input class="bg-primary cursor-pointer rounded-xl px-2 py-1 mt-4 text-black font-semibold hover:bg-indigo-500" type="submit" value="Apply Filter">
                    {% if request.GET.category %}
                        <input type="hidden" name="category" value="{{ request.GET.category }}">
                    {% endif %}
                    {% if request.GET.shop_search %}
                        <input type="hidden" name="shop_search" value="{{ request.GET.shop_search }}">
                    {% endif %}
                </form>
                <a 
               href="{% url 'shop:home' %}?{% if request.GET.category %}category={{ request.GET.category }}{% endif %}{% if request.GET.shop_search %}&shop_search={{ request.GET.shop_search }}{% endif %}"
                class="absolute right-0 bottom-0 bg-error cursor-pointer rounded-xl px-2 py-1 mt-4 text-black font-semibold hover:bg-red-700">Zrušit filtr</a>
            </div>
    </section>
</aside>

{% block scripts %}
<script src="{% static 'js/nouislider.min.js' %}"></script>
<script>
    const slider = document.getElementById('slider');
    const minInput = document.getElementById('minInput');
    const maxInput = document.getElementById('maxInput');

    noUiSlider.create(slider, {
        start: [{{ min_price }}, {{ max_price }}],
        connect: true,
        range: {
            'min': 0,
            'max': {{ max_value }}
        },
        step: 10
    });

    slider.noUiSlider.on('update', function(values, handle) {
        if (handle === 0) {
            minInput.value = Math.round(values[0]);
        } else {
            maxInput.value = Math.round(values[1]);
        }
    });

    function updateSliderFromInputs() {
        let minValue = parseInt(minInput.value);
        let maxValue = parseInt(maxInput.value);
        
        if (minValue > maxValue) {
            minValue = maxValue;
            minInput.value = minValue;
        }
        
        if (maxValue < minValue) {
            maxValue = minValue;
            maxInput.value = maxValue;
        }

        slider.noUiSlider.set([minValue, maxValue]);
    }

    minInput.addEventListener('change', updateSliderFromInputs);
    maxInput.addEventListener('change', updateSliderFromInputs);

    minInput.addEventListener('keypress', function(event) {
        if (event.key === 'Enter') {
            updateSliderFromInputs();
        }
    });

    maxInput.addEventListener('keypress', function(event) {
        if (event.key === 'Enter') {
            updateSliderFromInputs();
        }
    });
</script>
{% endblock %}