<aside  x-show="mobileSidebarOpen" x-cloak class="md:!block sticky top-[100px] mb-8"
            x-transition:enter="duration-300 ease-out"
            x-transition:enter-start="opacity-0 -mt-96"
            x-transition:enter-end="opacity-100 mt-0">
    <section class="card p-4">
        <h2>Search</h2>
        <form class="pb-5" action="." method="get">
            <div class="flex">
                <input type="text" name="shop_search" class="p-4 bg-gray-100 border-0 rounded-l-xl" placeholder="Search...">
                <button class="p-4 bg-blue-500 border-0 rounded-r-xl">
                    <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                    </svg> 
                </button>
            </div>
        </form>
    </section>
    <section class="card p-4">
        <h2>Categories</h2>
        <ul class="space-y-2 rounded-md">
            <li>
                <a href="{% url 'shop:home' %}?category={{ category.slug }}" class="flex items-center p-2 hover:bg-gray-100 transition duration-150 rounded-xl {% if not active_category %}bg-indigo-100{% endif %}">
                    <span class="font-bold text-sm">All categories</span> 
                </a>
            </li class="hover:bg-gray-100 transition duration-150">
            {% for category in categories %}
            <li>
                <a href="{% url 'shop:home' %}?category={{ category.slug }}" class="flex items-center p-2 hover:bg-gray-100 transition duration-150 rounded-xl  {% if category.slug == active_category %}bg-indigo-100{% endif %}">
                    <span class="font-bold text-sm">{{ category.name }}</span>
                </a>
            </li>
            {% endfor %}
        </ul>
    </section>
    <section class="card p-4">
        <h2>Cena</h2>
        <div class="slider h-1 relative bg-blue-400 rounded-full mt-3">
            <div class="progress h-full left-0 right-0 absolute rounded-full bg-blue-400"></div>
        </div>
        <div class="range-input relative mb-2">
            <input type="range" class="range-min absolute w-full h-1 -top-[4px] -left-2 bg-transparent pointer-events-none" min="0" max="{{ max_value }}" value="0" step="10">
            <input type="range" class="range-max absolute w-full h-1 -top-[4px] -right-2 bg-transparent pointer-events-none" min="0" max="{{ max_value }}" value="{{ max_value }}" step="10">
        </div>
        <div class="price-input w-full flex mx-auto my-10">
            <div class="field">
                <input type="number" class="input-min" value="0">
            </div>  
            <div class="field">
                <input type="number" class="input-max" value="{{ max_value }}">
            </div>
        </div>
    </section>
</aside>