<ul id='user-list' class='mt-2'>
    {% for user in users %}
    <li>
        <a class='flex items-center gap-1 hover:bg-zinc-200 rounded-lg p-2 cursor-poiner'
        hx-get="{% url 'inbox:inbox-newmessage' user.id %}"
        hx-target="#new-message"
        hx-swap="innerHTML">
            <img class='w-10 h-10 object-cover rounded-full mr-1' src="{{ user.profile.avatar }}">
            {% if user.profile.first_name %}
            <div class='font-bold'> {{ user.profile.first_name }} {% if user.profile.last_name %} {{ user.profile.last_name }} {% endif %}
            {% endif %}   
            <span class='text-xs font-normal text-zinc-500' >@{{ user.username }} </span></div>
        </a>
    </li>
    {% endfor %}
</ul>